page-booking {
    #booking-form6{
        ion-item{
            padding-left:0;
        }
        button{
            margin-top:10px;
            background-color:#33CD5F;
        }
    }
    #booking-button8{
        margin-top:10px;
        background-color:#33CD5F;
    }
    ion-item.item{
        padding-left:0;
    }
}
