<ion-header>
  <ion-navbar>
    <ion-title>
      Tìm kiếm
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div id="search-markdown18" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Sử dụng bộ lọc để tìm kết quả
      <strong>
        chính xác
      </strong>
      hơn.
    </p>
  </div>
  <div id="search-container1">
    <form id="search-form4">
      <div id="search-container2">
        <form id="search-form5">
          <ion-item id="search-input3">
            <ion-label>
              Ngày đặt
            </ion-label>
            <ion-input type="date" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="search-input2">
            <ion-label>
              Giờ nhận
            </ion-label>
            <ion-input type="time" placeholder=""></ion-input>
          </ion-item>
          <ion-item id="search-input1">
            <ion-label>
              Giờ trả
            </ion-label>
            <ion-input type="time" placeholder=""></ion-input>
          </ion-item>
          <button id="search-button6" ion-button color="balanced" block>
            Lọc kết quả
          </button>
           
        </form>
          <div id="search-markdown13" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:18px;">
              Tìm thấy
              <strong>
                {{data.length}}
              </strong>
              sân bóng!
            </p>
          </div>
          <div *ngIf="data==null; else listTemplate">
            <div class="wrap-loading">
                <ion-spinner name="crescent"></ion-spinner>
            </div>
          </div>
        <div *ngFor="let item of data" #listTemplate>
          <ion-card>
            <ion-list>
              <ion-item id="home-list-item8" (click)=getDetail(item)>
                <ion-thumbnail item-left>
                  <img src="{{item.thumbnail}}" />
                </ion-thumbnail>
                <h2>
                  {{item.name}}
                </h2>
                <p style="white-space:normal;">{{item.address}}</p>
                <ion-icon name="football" item-right style="color: #000000;"></ion-icon>
              </ion-item>
              <ion-item id="home-list-item-container3">
                <div id="home-markdown5" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#707070;">
                    120.000đ/giờ
                  </p>
                </div>
                <div id="home-markdown6" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#FF9900;">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                </div>
              </ion-item>
              <ion-item color="balanced" on-click="goToBooking(item)" id="home-list-item9">
                <ion-icon name="calendar" item-left></ion-icon>
                Xem lịch
                <ion-note item-right></ion-note>
                <ion-icon name="add-circle" item-right></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card>
      </div>
      </div>
    </form>
  </div>
  <h3 id="search-heading5" style="color:#000000;"></h3>
</ion-content>